{
    "check-coverage": true,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "exclude": [
        "src/server.js",
        "test/",
        "coverage/",
        "src/util/",
        "**/**/*Route.js"
    ],
    "report-dir": "coverage/js",
    "reporter": [
        "lcov",
        "html",
        "text"
    ],
    "all": true
}